DB_URL_PROD =postgres://gaufifljqwmfpg:f5fa21f1d5edca759f916ab5bf1c89611ef4bd452bda3ea569b43b4152ef4303@ec2-3-218-47-9.compute-1.amazonaws.com:5432/d8mq2lv8dgresv
DB_URL_DEV = postgres://<user>:<password>@<host>:5432/<dbname>
JWT_SECRET = uhwoedhwoidwohosksnkjcbksdclsdlckjdjsauhdoiwiwej